{% extends template %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <turbo-frame id="main" data-turbo-action="advance">
        <div class="container mt-3">
            <h1 class="display-4">Contact Us</h1>
            <form method="POST" action="/contact_us">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mt-3">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>

        <script>
            // Turn off client-side validation to trigger errors on form submission
            document.querySelectorAll("input, textarea").forEach(el => el.removeAttribute("required"))
        </script>
    </turbo-frame>
{% endblock %}